@import "tailwindcss";

@theme{
    --font-primary: "Sansita", sans-serif;
    --color-primary:#227675;
    --color-secondary:#6f9a37;
}
 
.text-primary{
  @apply text-[var(--color-primary)];
}
 .nav-link{
    @apply text-black hover:text-[var(--color-primary)] text-[18px] font-bold
 }

 
  .btn-primary {
    @apply
      bg-[var(--color-primary)] text-white px-5 py-2 rounded-full 
  text-sm font-medium transition duration-300 cursor-pointer hover:opacity-90;    
  }
  
 .btn-services{
  @apply 
  w-full bg-teal-700 text-white px-6 py-4 rounded-full flex justify-between text-left
  cursor-pointer
 }

 .footer-list li{
  @apply 
  flex items-center gap-2 text-white/70
  font-semibold;
}

.footer-list li::before{
  content:"→";
  @apply
   text-white
   font-semibold;
}
.Titles-footer{
@apply
text-white text-2xl
}


.Category{
@apply
flex 
justify-between
}

.Category-item{
  @apply
  font-semibold
  text-gray-900
}

 .Category-item::before{
  content:"→";
  @apply
  text-primary 
  mr-1
  font-semibold
 }
 .Category-number{
  @apply
  text-primary
  font-semibold
 }