@import "tailwindcss";

@theme{
    --font-primary: "Sansita", sans-serif;
    --color-primary:#227675;
    --color-secondary:#6f9a37;
}
 
.text-primary{
  @apply text-[var(--color-primary)];
}
 .nav-link{
    @apply text-black hover:text-[var(--color-primary)] text-[18px] font-bold
 }

 
  .btn-primary {
    @apply
      bg-[var(--color-primary)] text-white px-5 py-2 rounded-full 
  text-sm font-medium transition duration-300 cursor-pointer hover:opacity-90;    
  }
  
 .btn-services{
  @apply 
  font-medium bg-white text-black border rounded-2xl w-fit
   py-2 px-5 hover:bg-primary hover:text-white cursor-pointer
 }
